/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #36454F;
    color: white;
}

#choicePrompt {
    font-size: 1.5em;
    margin-top: 20px;
    color: white;
    text-align: center;
}

/* Hero Section Styles */
#hero {
    background-image: url('../images/hero_image.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 50px;
    height: 50vh;
}

/* Choices Container Styles */
#choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Choice Buttons Styles */
#choices button {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#choices button img {
    max-width: 90%;
    height: auto;
}

#choices button:hover {
    background-color: #45a049;
}

/* Button Label Styles */
#choices button span {
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 1em;
}

/* Choice Image Styles */
.choiceImage {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 0;
}

/* Choice Label Styles */
.choiceLabel {
    display: block;
    text-align: center;
    color: white;
    font-size: 1em;
    margin-bottom: 5px;
}

#choicesDisplay>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Result Display Styles */
#result {
    text-align: center;
    margin: 30px 0;
    font-size: 1.5em;
}

/* Scoreboard Styles */
#scoreboard {
    background-color: #4CAF50;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

#scoreboard div {
    font-size: 20px;
    margin: 5px 10px;
    font-weight: bold;
}

#scoreboard div:first-child {
    border-right: 2px solid white;
    padding-right: 10px;
}

/* Reset, Rules, and Mute Button Styles */
#resetButton,
#rulesButton,
#muteButton {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    display: block;
    width: fit-content;
    border-radius: 5px;
    background-color: #4CAF50;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

#resetButton:hover,
#rulesButton:hover,
#muteButton:hover {
    background-color: #555;
}

/* Popup Styles */
.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    height: auto;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.popup-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
    color: #555;
    background-color: transparent;
    border: none;
}

/* Audio Controls Styles */
audio {
    display: none;
}

/* Play/Pause and Mute Audio Button Styles */
#playPauseAudio,
#muteButton {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

#playPauseAudio:hover,
#muteButton:hover {
    background-color: #45a049;
}

/* Choices Display Styles */
#choicesDisplay {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Bounce Animation for Choice Images */
@keyframes bounceRight {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

@keyframes bounceLeft {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }
}

/* Tablet and Mobile Responsive Styles */
@media screen and (max-width: 768px) {
    #choices button {
        width: 120px;
        height: 120px;
    }

    #choices button img {
        width: 90%;
        height: 90%;
    }

    .choiceImage {
        width: 200px;
        height: 200px;
    }

    #scoreboard div {
        font-size: 16px;
    }

    #choicePrompt {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    #choices button {
        width: 100px;
        height: 100px;
    }

    #choices button img {
        width: 90%;
        height: 90%;
    }

    .popup-content {
        width: 90%;
    }

    .popup-content p,
    #playPauseAudio {
        font-size: 0.9em;
    }

    .close {
        font-size: 20px;
        top: 15px;
        right: 20px;
    }
}